@font-face {
  font-family: "Ohno";
  src: url("../fonts/Ohno_Blazeface-18_Point.woff");
}
@font-face {
  font-family: "Voyage";
  src: url("../fonts/Voyage-Regular.woff2");
}

/* COLORS */
$primary-color-0: #130972;
$primary-color-1: #f78765;
$primary-color-2: #19afd0;
$primary-color-3: #fcf596;
$primary-color-4: #19afd0;
$primary-color-5: #a3c0c7;

/* FONT FAMILY */
$font-family-sans-serif: "Karla", sans-serif;
$font-family-serif: "Ohno";
$font-family-voyage: "Voyage";

/* MEDIA QUERIES */
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

:root {
  --font-size-xs: 16px;
  --font-size-sm: 22px;
  --font-size-md: 2rem;
  --font-size-lg: 2.75rem;
  --font-size-xl: 4.375rem;
  --font-size-xxl: 13rem;
  --spacer: 3vw;
}

@media (max-width: 899.98px) {
  :root {
    --font-size-xs: 14px;
    --font-size-sm: 18px;
    --font-size-md: 1.4rem;
    --font-size-lg: 2rem;
    --font-size-xl: 3.5rem;
    --font-size-xxl: 6rem;
    --spacer: 2.5vw;
  }
}

@media (max-width: 575.98px) {
  :root {
    --font-size-xs: 14px;
    --font-size-sm: 16px;
    --font-size-md: 20px;
    --font-size-lg: 28px;
    --font-size-xl: 40px;
    --font-size-xxl: 6rem;
    --spacer: 2vw;
  }
}

/* Spacing, Margins, Grid */

h1 {
  font-size: var(--font-size-xxl);
  padding-left: calc(var(--spacer) * 1);
  font-family: $font-family-voyage;
  color: $primary-color-0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: inherit;
  line-height: 1;
  @include for-tablet-portrait-up {
    padding-left: calc(var(--spacer) * 1);
  }
}

h4 {
  font-family: $font-family-voyage;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  line-height: 1.7;
  font-size: var(--font-size-sm);
  padding-bottom: 6px;
}

p {
  font-size: var(--font-size-lg);
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.7;
  @include for-tablet-portrait-up {
    font-size: var(--font-size-sm);
  }
}

body {
  background-color: $primary-color-1;
  height: 100%;
  font-family: $font-family-sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  height: 100vh;
}

#root {
  height: 100vh;
}

.App {
  height: 100vh;
}

.home--wrapper {
  height: 100vh;
}

.container {
  padding: calc(var(--spacer) * 2);
  display: flex;
  width: calc(100%- --spacer);
  @include for-tablet-portrait-up {
    padding: calc(var(--spacer) * 1);
  }
}

.row {
  display: flex;
  flex-direction: row;
  padding-top: var(--spacer);
}

.col {
  padding-bottom: var(--spacer);
  display: flex;
  flex-direction: column;
  width: 100%;
}
