@import "../stylesheets/Global.scss";

.home--showall {
  background: white;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-xl);
  font-family: $font-family-voyage;
  padding-top: calc(var(--spacer) * 2);
  padding-bottom: calc(var(--spacer) * 2);
}

.home--showall_link {
  border: solid 0.5px $primary-color-0;
  padding: var(--spacer);
}

.home--showall_frame {
  position: absolute;
  width: calc(100% - (var(--spacer)));
  border: $primary-color-1 2px solid;
  height: calc(30% - (var(--spacer)));
  box-shadow: 0px -45px 47px $primary-color-1;
  @include for-phone-only {
    width: calc(100% - (calc(var(--spacer)) * 4));
    height: calc(40% - (calc(var(--spacer)) * 4));
  }
}
