@import "../stylesheets/Global.scss";

.nav--wrapper {
  display: inline-flex;
  font-family: $font-family-voyage;
  cursor: pointer;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  user-select: none;
  position: fixed;
  z-index: 100;
  height: 30vh;
  transform: translateY(0);
  transition: transform 0.3s ease;
  background: rgb(247, 135, 101);
  background: linear-gradient(
    180deg,
    rgba(247, 135, 101, 1) 44%,
    rgba(16, 27, 95, 0) 100%
  );
  @include for-phone-only {
    height: 30vh;
  }
}

.nav--wrapper.hidden {
  transform: translateY(-110%);
}

.nav--items {
  font-size: var(--font-size-xl);
  z-index: 1;
  color: $primary-color-2;

  @include for-phone-only {
    font-size: var(--font-size-lg);
  }

  &:nth-child(1) {
    padding: var(--spacer);
  }
  &:nth-child(2) {
    font-size: var(--font-size-xxl);
    letter-spacing: 0em;
  }
  &:nth-child(3) {
    padding: var(--spacer);
  }
}

a {
  color: $primary-color-0;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: $primary-color-5;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}
