@import "../stylesheets/Global.scss";

.projectdetail--wrapper {
  width: 100vw;
  background-color: white;
  font-size: var(--font-size-xs);
}

.projectdetail--header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color-1;
  @include for-tablet-portrait-up {
    padding-top: calc(var(--spacer) / 4);
  }
  @include for-phone-only {
    min-width: 100%;
    padding-top: calc(var(--spacer) / 4);
  }
  @include for-desktop-up {
    width: 50%;
  }
}

.projectdetail--header_top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color-1;
  overflow: hidden;
  @include for-tablet-portrait-up {
    padding-top: calc(var(--spacer) / 4);
    height: 40%;
  }
  @include for-phone-only {
    min-width: 100%;
    padding-top: calc(var(--spacer) / 4);
    height: 40%;
  }
  @include for-desktop-up {
    height: 75vh;
  }
}

.projectdetail--content {
  background-color: $primary-color-0;
  z-index: 100;
  @include for-phone-only {
    margin-top: -20%;
  }
  @include for-desktop-up {
    margin-top: 0%;
  }
}

.projectdetail_title h1 {
  font-size: var(--font-size-3xl);
}

.projectdetail--header_img {
  width: 100%;

  @include for-phone-only {
    min-width: 100%;
  }
}

.projectdetail--img {
  width: 100%;

  @include for-phone-only {
    min-width: 100%;
  }
}

.specs--wrapper {
  width: calc(100%- --spacer);
  flex-direction: column;
  @include for-desktop-up {
    flex-direction: row;
  }
}

.specs--left {
  width: 100%;
  @include for-desktop-up {
    width: 50%;
  }
}

.specs--right {
  width: 100%;
  padding-left: 0%;
  @include for-desktop-up {
    width: 50%;
    padding-left: 3%;
  }
}

.specs--col {
  width: calc(100%- --spacer);
  padding-top: calc(var(--spacer) * 2);
  @include for-tablet-portrait-up {
    padding-top: calc(var(--spacer) / 2);
  }
}

.specs--left_col {
  &:nth-child(1) {
    padding-right: 6%;
  }
  &:nth-child(2) {
    font-size: var(--font-size-xxl);
    padding-left: 6%;
  }
}

.row {
  @include for-phone-only {
    flex-direction: column;
  }
}

.specs--wrapper p {
  @include for-phone-only {
    font-size: var(--font-size-xs);
  }
}

.specs--wrapper h4 {
  @include for-phone-only {
    font-size: var(--font-size-xs);
  }
}
