@import "../stylesheets/Global.scss";

.projects--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20%;
  background-color: $primary-color-5;
  font-family: $font-family-voyage;
  z-index: 1000;
  padding-bottom: 100px;
}

@media only screen and (max-width: 900px) {
  .projects--wrapper {
    margin-top: 5%;
  }
}

.projects--items {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  @include for-phone-only {
    flex-direction: column;
  }
}

.projects--item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
  margin: 1%;
  @include for-phone-only {
    flex-direction: column;
    width: 100%;
    height: 300px;
  }
  @include for-desktop-up {
    flex-direction: column;
    width: 30%;
  }
}

.project--filter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 200;
  width: 70%;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;

  a {
    margin: 20px;
    padding: 5px;
    display: flex;
    width: 130px;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: var(--font-size-sm);
    color: $primary-color-0;
    font-family: $font-family-voyage;
    border-radius: 30px;
    width: 60vw;
    margin-top: 2%;
    max-height: 70px;
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;
    max-width: 22em;
    position: relative;
    box-sizing: border-box;
    border-width: 0.5px;
    border-style: solid;
    border-color: initial;
    transition: opacity 0.6s ease-out 0.6s;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;

    &:hover {
      color: white;
      transition: 0.5s;
      background: linear-gradient(
        40deg,
        rgb(247, 135, 101) 0%,
        rgb(19, 9, 114) 100%
      );
    }
  }
}

.projects--title_wrap {
  font-size: var(--font-size-md);
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: content-box;
  z-index: 20;
}

.project--title_text {
  position: absolute;
  z-index: 10;
  transform: rotate(-90deg);
  right: -254px;
}

.projects--flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 90%;
}

@media only screen and (max-width: 900px) {
  .projects--flex {
    flex-direction: column;
  }
}
